---
layout: default
---

<div class="home">

  <h1 class="post-heading">{{ site.description }}</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% assign author = site.authors | where:'title', post.author | first %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{% if author %}Painstakingly written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.title }}</span></span> on <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% endif %}</span>

        {{ post.content }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
