---
layout: default
---

{% assign author = site.authors | where:'title', page.author | first %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">{% if author %}Painstakingly written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.title }}</span></span> on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.identifier = "{{ page.url }}";
    this.page.title = "{{ page.title }}"
    };
    (function() {
    var d = document, s = d.createElement('script');

    s.src = '//charlie6th.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>

</article>
